html, body {
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom right, rgb(255, 58, 58), rgb(53, 50, 255));
}

.fill {
    display: inline-block;
    height: 100px;
    width: 100px;
    background: white;
    transition: width 1s, height 1s;
    overflow: hidden;
}

.fill:hover {
    height: 100%;
    width: 100%;
}

.centered {
    text-align: center;
}