html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

table {
	width: 100vw;
	height: 10vw;
	text-align: center;
	border-collapse: collapse;
	font-size: 4vw;
}

td {
	margin: 0;
	padding: 0;
	width: 12.5vw;
	transition: width 1s;
}

td:hover {
	width: 20vw;
}

#first {
	background-color: red;
}

#second {
	background-color: orange;
}

#third {
	background-color: yellow;
}

#fourth {
	background-color: greenyellow;
}

#fifth {
	background-color: green;
}

#sixth {
	background-color: blue;
}

#seventh {
	background-color: blueviolet;
}

#eighth {
	background-color: black;
	color: white;
}