*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.flex-container{
    
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(138, 255, 247, 0.796);
}

.flex-item{
    height: 100px;
    width: 100px;
    background-color: rgb(162, 191, 132);
    border: 10px solid lawngreen;
    border-radius: 10px;
}