* {
	margin: 0;
	padding: 0;
}

.container {
	display: block;
	margin-top: 100px;
	text-align: center;
}

div {
	display: inline-block;
}

.img__container, img {
	width: 300px;
	height: 200px;
	object-fit: cover;
	transition: transform 1s;
	overflow: hidden;
}

img:hover {
	transform: scale(1.2);
}